@using MainApp.BLL.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
 
@{
    var user = await UserManager.GetUserAsync(User);
    var userFullName = "";
    if (user != null)
    {
        userFullName = $"{user.FirstName} {user.LastName}";
    }
}

<div class="container-fluid">

    <ul class="navbar-nav flex-grow-1">

        @if (SignInManager.IsSignedIn(User))
        {


            bool isAdmin = await SignInManager.UserManager.IsInRoleAsync(user, "Admin");

            bool isLoggin = User.Identity.IsAuthenticated;

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house "></i>
                    Home
                </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded"  style="background-color: darkseagreen"  asp-area="" asp-controller="Trainer" asp-action="Index">
                    <i class="bi bi-people"></i>
                    Trainers
                </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="event" asp-action="Index">
                        <i class="bi bi-menu-button-wide-fill"></i>
                        Get events from Api
                    </a>
            </li>
         }
     </ul>
 </div>
