@using MainApp.BLL.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@using MainApp.Web.Services;
 
@{
    var user = await UserManager.GetUserAsync(User);
    var userFullName = "";
    if (user != null)
    {
        userFullName = $"{user.FirstName} {user.LastName}";
    }
}

<div class="container-fluid">

    <ul class="navbar-nav flex-grow-1">

        @if (SignInManager.IsSignedIn(User))
        {


            bool isAdmin = await SignInManager.UserManager.IsInRoleAsync(user, "Admin");

            bool isLoggin = User.Identity.IsAuthenticated;

            <li>
                <a class="one" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house "></i>
                    Home
                </a>
            </li>

            <li>
                <a class="one" asp-area="" asp-controller="Trainer" asp-action="Index">
                    <i class="bi bi-people"></i>
                    Trainers
                </a>
            </li>

            <li>
                <a class="one" asp-area="" asp-controller="event" asp-action="Index">
                        <i class="bi bi-menu-button-wide-fill"></i>
                        Events
                    </a>
            </li>

            <li>
                   <a class="one" asp-area="" asp-controller="claim" asp-action="Index">
                           <i class="bi bi-menu-button-wide-fill"></i>
                           Claims
                   </a>
            </li>

            <li>
                <a class="one" asp-area="" asp-controller="userrole" asp-action="Index">
                    <i class="bi bi-menu-button-wide-fill"></i>
                    User roles
                </a>
            </li>

            <li>
                <a class="one" asp-area="" asp-controller="role" asp-action="Index">
                    <i class="bi bi-menu-button-wide-fill"></i>
                    All Roles
                </a>
            </li>
         }
     </ul>
 </div>

 <style>
    a.one {
        background-color: darkseagreen;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border: 2px solid green;
        border-radius: 25%;
        margin-right: 5px;
        width: 100px;
    }
    a.one:hover, a.one:active {
            background-color: darkcyan;
            color: white;
    }
 </style>
