@using MainApp.BLL.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
 
@{
    var user = await UserManager.GetUserAsync(User);
    var userFullName = "";
    if (user != null)
    {
        userFullName = $"{user.FirstName} {user.LastName}";
    }
}


<body>
    <div class="navigation">
        <ul>
            <li class="list active">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li class="list">
                <b></b>
                <b></b>
                <a href="#">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <span class="title">Trainers</span>
                </a>
            </li>
        </ul>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js">
    </script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js">
    </script>

    <script>
        let menuToogle = document.querySelector('.toogle');
        let navigation = document.querySelector('.navigation');
        menuToogle.onclick = function () {
            menuToogle.classList.toggle('active');
            navigation.classList.toggle('active');
        }

        let list = document.querySelectorAll('.list');
        for (let i = 0; i < list.length; i++) {
            list[i].onclick = function () {
                let j = 0;
                while (j < list.length) {
                    list[j++].className = 'list';
                }
                list[i].className = 'list active';
            }
        }
    </script>

</body>



<div class="container-fluid">

    <ul class="navbar-nav flex-grow-1">

        @if (SignInManager.IsSignedIn(User))
        {


            bool isAdmin = await SignInManager.UserManager.IsInRoleAsync(user, "Admin");

            bool isLoggin = User.Identity.IsAuthenticated;

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-house "></i>
                    Home
                </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded"  style="background-color: darkseagreen"  asp-area="" asp-controller="Trainer" asp-action="Index">
                    <i class="bi bi-people"></i>
                    Trainers (only admin)
                </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="event" asp-action="Index">
                        <i class="bi bi-menu-button-wide-fill"></i>
                        Get events from Api
                    </a>
            </li>

            <li>
                   <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="claim" asp-action="Index">
                           <i class="bi bi-menu-button-wide-fill"></i>
                           Get claims
                        </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="userrole" asp-action="Index">
                    <i class="bi bi-menu-button-wide-fill"></i>
                    Get user roles
                </a>
            </li>

            <li>
                <a class="nav-link text-dark border border-primary rounded" style="background-color: darkseagreen" asp-area="" asp-controller="role" asp-action="Index">
                    <i class="bi bi-menu-button-wide-fill"></i>
                    Get roles
                </a>
            </li>
         }
     </ul>
 </div>
