@using MainApp.BLL.Entities
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "users list";
}

<div class="container-fluid">
    <ul class="navbar-nav flex-grow-1">
        @if (!SignInManager.IsSignedIn(User))
        {
            <hr />
            <li>
                <a class="nav-link text-dark border border-success rounded"  style="background-color: silver" asp-area="" asp-controller="account" asp-action="Register">
                    <i class="bi bi-person-circle me-2"></i>
                    Register
                </a>
            </li>           
            <li>
                <a class="nav-link text-dark border border-success rounded" style="background-color: silver" asp-area="" asp-controller="account" asp-action="Login">
                    <i class="bi bi-box-arrow-in-left"></i>
                    Login
                </a>
            </li>

        }
    </ul>
</div>