@using MainApp.BLL.Context
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "users list";
}

<div class="container-fluid">
    <ul class="navbar-nav flex-grow-1">
        @if (!HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {
            <hr />
            <li>
                <a class="nav-link text-dark border border-success rounded" asp-area="" asp-controller="account" asp-action="Register">
                    <i class="bi bi-person-circle me-2"></i>
                    Register
                </a>
            </li>           
            <li>
                <a class="nav-link text-dark border border-success rounded" asp-area="" asp-controller="account" asp-action="Login">
                    <i class="bi bi-person me-2"></i>
                    Login
                </a>
            </li>

        }
    </ul>
</div>