@using MainApp.BLL.Context
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "users list";
}

<ul class="navbar-nav flex-grow-1">
    @if (!HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="btn btn-nav" asp-area="" asp-controller="account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a style="margin-left:1.35rem; margin-right:1.35rem;" class="btn btn-nav" asp-controller="account" asp-action="Login">Login</a>
        </li>
    }
    else
    {
        var userEmail = this.HttpContextAccessor.HttpContext.User.Identity.Name;
        var findIdUser = _context.Users.Where(u=>u.Email == userEmail).Select(u=>u.Id).FirstOrDefault();       
        <li class="nav-item">
           <a class="nav-link text-dark" asp-area="" asp-controller="Trainer" asp-action="Index">Trainers</a>
        </li>
        <li class="nav-item">
           <a class="nav-link text-dark" asp-area="" asp-controller="Event" asp-action="Index">Activity</a>
        </li>
        <li class="nav-item">
            <a style="margin-left:1.35rem;" class="btn btn-nav" asp-area="" asp-controller="account" asp-action="LogOut">Logout</a>
        </li>
    }
</ul>