@using MainApp.BLL.Context;
@using MainApp.BLL.Enums;
@using MainApp.BLL.Models
@model MainApp.BLL.Models.ApplicationUserRoleView
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Edit";
}

@{
    var result = new List<SelectListItem>();
    var ctx = _context;
    var items = from n in ctx.Roles
                select new SelectListItem
                        {
                            Text = n.Name,
                            Value = n.Id.ToString()
                        };
    foreach (var item in items)
        result.Add(item);

    //var incomeList = Html.GetEnumSelectList<Roles>().Where(l => int.Parse(l.Value) >= 0).ToList();
    var categoryList = new List<SelectListItem>();
    categoryList = result;
}


<div class="row-md-4 col-xs-3 border-primary mb-3">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="rows-md-12">
                <div class="card-header text-white bg-info">
                    <p class="card-text">
                        <h5 class="card-title">
                            Edit user role
                        </h5>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://plus.unsplash.com/premium_photo-1661274081184-d0104f8befe5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""
                     style="object-fit:scale-down;
                            width:100%;
                            height:auto;
                            border: solid 1px #CCC">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" readonly="readonly" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" readonly="readonly" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*                <label asp-for="UserId" class="control-label"></label>*@
                            <input asp-for="UserId" class="form-control" />
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RoleId" class="control-label"></label>
                            <input asp-for="RoleId" class="form-control" readonly="readonly" />
                            <span asp-validation-for="RoleId" class="text-danger"></span>
                        </div>

                        @*            <div class="form-group">
                        <label asp-for="UserRole" class="control-label"></label>
                        <select asp-for="UserRole" asp-items="Html.GetEnumSelectList<Roles>()" class="form-control">
                        <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="UserRole" class="text-danger"></span>
                        </div>*@

                        <div class="form-group">
                            <label asp-for="UserRole" class="control-label"></label>
                            <select asp-for="UserRole" id="categorySelect" asp-items="categoryList" class="form-control">
                                <option selected="selected">Please select</option>
                            </select>
                            <span asp-validation-for="UserRole" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn btn-success" asp-action="Index">Back to roles</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}