@{
    ViewBag.Title = "Report";
}

<div id="content">
    @*     <button id="spinner" class="btn btn-primary" type="button" onclick="hideSpinner()">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" onclick="hideSpinner()"></span>
    Loading data from database ...
    </button> *@
    <div class="col-6 mx-auto" style="display: flex; justify-content: center; align-items: center;">
        <div class="card shadow border" style="border-radius: 10px;">
            <div class="card-body">
                <h5 class="card-title">Loading data from database ... </h5>
                <div class="preloader"></div>
                <p class="card-text">Please wait</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            $.ajax({
                url: "/UserRole",
                success: function (data) { $('#content').html(data); },
                error: function () { alert(error); },
                cache: false,
                type: 'GET'
            });
        });
    </script>
}