@using System.Globalization

@{
    ViewData["Title"] = "EmptyList";
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/Pictures/EmptyList.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Events</h5>
    <p class="card-text">There is no event!</p>
    <a class="btn btn-primary" asp-controller="Trainer" asp-action="Index">Go to trainers</a>
  </div>
</div>