@using System.Globalization

@{
    ViewData["Title"] = "EmptyList";
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://media.istockphoto.com/photos/warning-sign-picture-id184113509?k=20&m=184113509&s=612x612&w=0&h=G4sCrouZaif-bhLsgx32K5m1uVldqN6W7zBiWRa5FWs=" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Trainers</h5>
    <p class="card-text">You are not authorized!</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go to home</a>
  </div>
</div>